# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = trainlist_spider.settings

[deploy:43]
url = http://192.168.40.13:6800/
project = trainlist_spider
